<!DOCTYPE html>
<!--suppress HtmlRequiredAltAttribute -->
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/jquery.album-0.2.js"></script>
    <script src="../static/js/common.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style_photo.css">
    <style>
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <title>文件浏览器 | 离线看本</title>
</head>

<body>

<div class="container">
    <div id="Comic_Top_Nav">
    </div>
    <div class="row">
        <div style="padding:0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left">{{ data.title }}</div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body" style="clear: both;">
                    <div class="row thumb-overlay-albums">
                        {#
                            <div class="center scramble-page" id="00019.webp" style="min-height: 1378.02px;">

                                <img src="https://cdn-msp.18comic.org/media/photos/179442/00019.webp"
                                     data-original="https://cdn-msp.18comic.org/media/photos/179442/00019.webp"
                                     id="album_photo_00019.webp" class="lazy_img img-responsive-mw lazy-loaded" style=""
                                     data-page="18">
                            </div>
                        #}
                        {% for image in data.images %}
                            <div class="center scramble-page"
                                 id="page_{{ loop.index0 }}"
                                 data-page="{{ loop.index0 }}"
                            >
                                <img src="{{ image.data_original }}"
                                     data-original="{{ image.data_original }}"
                                     class="lazy_img img-responsive-mw lazy-loaded"
                                >
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="menu-bolock">
    <ul style="list-style:none;">
        <li>
            <a href="javascript:void(0)"><i class="fas fa-sort-down"></i><span>双击隐藏</span></a>
        </li>
    </ul>
    <ul class="menu-bolock-ul" style="list-style:none;">
        {#        <li>#}
        {#            <a class="forum-open" href="javascript:;">#}
        {#                <span>666</span>#}
        {#                <span>評論</span></a>#}
        {#        </li>#}
        {#        <li>#}
        {#            <a href="javascript:void(0)" id="love_heart_407527"><i class="far fa-thumbs-up"></i><span>喜歡</span></a>#}
        {#        </li>#}
        {#        <li>#}
        {#            <a href="/album_download/407527">#}
        {#                <i class="fas fa-download"></i>#}
        {#                <span>下載</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li>#}
        {#            <a id="favorite_album_407527"><i class="fa fa-bookmark"></i><span>收藏</span></a>#}
        {#        </li>#}
        {#        <li style="margin-top: 15px;">#}
        {#            <a href="?read_mode=read-by-page"><i class="fas fa-book"></i><span>分頁閱讀</span></a>#}
        {#        </li>#}
        <li style="margin-top: 15px;">
            <a href="/?path={{ data.openFromDir }}"><i class="fas fa-book"></i><span>原路返回</span></a>
        </li>
        <li>
            <a href="https://18comic.vip/search/photos?main_tag=0&search_query={{ data.title }}">
                <i class="far fa-list-alt"></i><span>搜原本</span></a>
        </li>
        {#        <li style="margin-bottom: 15px;">#}
        {#            <a id="gotoRelated" href="javascript:void(0)"><img#}
        {#                    src="/templates/frontend/airav/img/phicon/u1444.png?v=2024011102"#}
        {#                    style="margin: auto;width: 24px;display: block;"><span>相關漫畫</span></a>#}
        {#        </li>#}
        <li>
            <a id="gotop" href="javascript:void(0)"><i class="far fa-caret-square-up"></i><span>回到頂端</span></a>
        </li>
        <li>
            <a id="gobottom" href="javascript:void(0)"><i class="far fa-caret-square-up"></i><span>跳到最后</span></a>
        </li>
        <div>
            <!--suppress HtmlFormInputWithoutLabel -->
            <select id="pageselect">
                {% for image in data.images %}
                    <option value="{{ loop.index0 }}">
                        {{ loop.index }}/{{ loop.length }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </ul>
</div>

</body>
