<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>登录页面</title>
    <link rel="stylesheet" href="../static/css/login.css?t={{ randomArg }}">
</head>

<body>
<h1>登录服务器</h1>
<section class="login-box">
    <form action="/login" method="POST">
        <div class="account">
            <label for="password">网站密码</label>
            <input type="text" placeholder="请输入密码" name="password" id="password" autofocus="autofocus">
        </div>
        <input type="submit" value="进&nbsp;&nbsp;&nbsp;&nbsp;入">
    </form>
    <div class="msg-con">
        {% block content %}
            <div class="alert-container">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
</section>
</body>

</html>